.DS_Store
apps/catalog-jvm/target
apps/catalog-jvm/target/**
apps/catalog-native/target
apps/catalog-native/target/**
apps/experience-jvm/target
apps/experience-jvm/target/**
apps/experience-native/target
apps/experience-native/target/**
apps/catalog-jvm/target
apps/catalog-jvm/target/**
.vscode/settings.json
